<h1>ALL THE CATS</h1>

<% if flash[:notice] %>
  Notice: <%= flash[:notice] %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Cat Name</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><%= cat.name %></td>
        <td><%= cat.human ? "#{cat.human.fname} #{cat.human.lname }" : "Stray Cat" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= link_to 'new', '/cats' %>
<%= link_to 'statuses', '/statuses' %>
