<h1>ALL THE CATS</h1>

<% if flash[:notice] %>
  Notice: <%= flash[:notice] %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Cat Name</th>
      <th>Owner</th>
      <th>Home Address</th>
    </tr>
  </thead>
  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><%= link_to "#{cat.name}", cat_path(cat.id) %></td>
        <% if cat.human %>
          <td><%= link_to "#{cat.human.fname} #{cat.human.lname }", human_path(cat.human.id) %> </td>
          <td><%= link_to "#{cat.house.address}", house_path(cat.house.id) %> </td>
        <% else %>
          <td>NA</td>
          <td>NA</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= link_to 'New Cat', new_cat_path %> |
<%= link_to 'All Houses', houses_path %> |
<%= link_to 'All Humans', humans_path %>
